body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header {
    position: fixed;
    width: 100%;
    background-color: cyan;
    display: flex;
    justify-content: space-between;
}

#img-header {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
}

#logo {
    display: block;
    width: 90px;
    height: 90px;
}

#brand {
    padding-left: 10px;
}

#nav-bar {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

.nav-link>a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 0px 20px;
}

@media (max-width: 700px) {
    #nav-bar {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    #logo {
        width: 50px;
        height: 50px;
    }
    .nav-link>a {
        font-size: 15px;
    }
}

#main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 200px 0 0 0;
}

@media (max-width:1000px) {
    #main {
        padding: 200px 30px 0 30px;
    }
}

.img-feature {
    width: 150px;
    height: auto;
}